<html>
	<head>
		<link rel="stylesheet" type="text/css" href="practice.css">
    <script src="http://connect.soundcloud.com/sdk.js"></script>

		<title>Sound_Project</title>

    <style>
    html {
        
      }

      body {
        background-color: white;
        height: 800px;
        width: auto;
        margin: 0;
        background-image:url('brickwall.png');
      }

      .header {
        background: #f04d2c;
        color: white;
        text-align: center;
        padding: 2px 0px 2px 0px;
        box-shadow: 10px 10px 5px #4F4D4D;
      }

      .navbar {
        background: #f04d2c;
        width: 150px;
        box-shadow: 10px 10px 5px #4F4D4D;
        display: inline-block;
        margin: 20px 20px 20px 0px;
      }

      .link{
        text-decoration: none;
        padding: 20px 0px 20px 0px;
      }

      .text {
        background-color: white;
        text-align: center;
        margin: 100px 0px 30px 0px;
        display: inline-block;
        text-align: center;
        float: center;
      }

      .input {
        background-color: #04403d;
      }

      .post {
        color: white;
      }

      .footer {
        background: #f04d2c;
        text-align: center;
        color: white;
        box-shadow: 1px -3px 3px 3px #4F4D4D;
        margin-top: 50px;
        padding: 5px 0px 5px 0px;
      }
    </style>

  </head>
	
	<body>

<div>
  <div class="header">
  	<h1> Music Co. </h1>
  </div>

  <div>
    <div class="navbar">
      <ul class="navlinks">
    	  <li class="link"><a href="#"> Indie</a></li>
    	  <li class="link"><a href="#"> Hip-Hop</a></li>
    	  <li class="link"><a href="#"> House</a></li>
    	  <li class="link"><a href="#"> Metal</a></li>
      </ul>
    </div>

	 <div class="text">
		  Add Here
		  <div class="input">
		    <div class="posts">
      <form name="input" action="/facebook" method="post">
        Dope song: <input type="text" name="update"><br />
       <input type="submit" value="submit">
      </form>
    </div>
		</div>
	</div>



  <div class="footer">
  	Contacts: MG Incorporated
  </div>

  </div>

</div>

	</body>

</html>
